<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ChatBot</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/chat-bot.css">
    
    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/chat-bot.js"></script>

    {{content-for "body-footer"}}
  </body>
</html> -->
   
<!DOCTYPE html>
<html>
  <head>
    <title>Chat-bot</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <div class="welcome-screen">
      <h1>Please choose your name</h1>
      <div>
        <input type="text" />
      </div>
      <div>
        <button>Login</button>
      </div>
    </div>
    <div class="chat hidden">
        <div class="users-list"></div>
      <div class="messages">
        <div class="current-user"></div>
        <div class="messages-list"></div>
        <input type="text" placeholder="Type your message" class="hidden" />
      </div>
    </div>

    <script src="/welcome.js"></script>
    <script src="/chat.js"></script>
    <script src="/main.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">

  </body>
</html>


